/chroot/
/*/*.log
/*/*.tar.*
/*/*.deb
/*/*.zip

/*/src/
/*/*/branches/
/*/*/hooks/
/*/*/info/
/*/*/objects/
/*/*/refs/
/*/*/FETCH_HEAD
/*/*/HEAD
/*/*/config
/*/*/description
/*/*/packed-refs

/azure-cli/install-*.py

/neovim-spell/*.txt
/neovim-spell/*.sug
/neovim-spell/*.spl
