/chroot/
/*/*.log
/*/*.tar.*
/*/*.deb
/*/*.zip

/*/src/
/*/*/branches/
/*/*/hooks/
/*/*/info/
/*/*/objects/
/*/*/refs/
/*/*/FETCH_HEAD
/*/*/HEAD
/*/*/config
/*/*/description
/*/*/packed-refs

/azure-cli/install-*.py

/neovim-spell-nb/*.txt
/neovim-spell-nb/*.sug
/neovim-spell-nb/*.spl

/nerd-fonts-jetbrains-mono/LICENSE

/cfg-usr-desktop/*.jpg

/lua-format/args-*
/lua-format/lua-format-*
