* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: #fafbfc;
    color: #24292e;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    background-color: transparent;
    color: #6a737d;
    padding: 0 5px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#workspaces button.focused {
    background-color: #acf2bd;
    color: #24292e;
}

#workspaces button.urgent {
    background-color: #ffab70;
    color: #24292e;
}

#mode,
#idle_inhibitor,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#disk,
#clock,
#tray {
    margin: 0 14px;
}

#idle_inhibitor.activated {
    color: #005cc5;
}

#pulseaudio.warning,
#cpu.warning,
#memory.warning,
#battery.warning {
    color: #e36209;
}

#pulseaudio.critical,
#cpu.critical,
#memory.critical,
#temperature.critical,
#battery.critical {
    color: #d73a49;
}
