#!/bin/sh

NAME={{ _key }}
DEST={{ dest }}

fail() {
	>&2 echo "$0: failure in $@"
	exit 1
}

. /etc/backup/${NAME}.key

if [ "$1" ]; then
	exec restic -r $DEST "$@"
fi

(
	flock -n 9 || {
		>&2 echo "$0: unable to acquire lock"
		exit 1
	}

	{% if commands is defined -%}
	{% for cmd in commands %}
	(
		{{ cmd }}
	) 2>&1 || fail command
	{% endfor %}
	{% endif -%}

	2>&1 restic backup \
		-r $DEST \
		{% if exclude is defined -%}
		{% for p in exclude %}--exclude='{{ p }}' {% endfor %} \
		{% endif -%}
		{% if excludefile is defined -%}
		--exclude-file={{ excludefile }} \
		{% endif -%}
		{{ src|join(' ') }} || fail backup

	{% if keep is defined %}
	2>&1 restic forget \
		-r $DEST \
		{% if 'hourly' in keep -%}
		--keep-hourly {{ keep.hourly }} \
		{% endif -%}
		{% if 'daily' in keep -%}
		--keep-daily {{ keep.daily }} \
		{% endif -%}
		{% if 'monthly' in keep -%}
		--keep-monthly {{ keep.monthly }} \
		{% endif -%}
		--prune || fail forget
	{% endif %}

) 9>/run/lock/$(basename $0).lock | ts >>/var/log/backup/${NAME}.log
